<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vosto.customer"
    android:versionCode="4"
    android:versionName="3.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <permission android:name="com.vosto.customer.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.vosto.customer.permission.C2D_MESSAGE" /> 
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM connects to Google Services. -->
	<uses-permission android:name="android.permission.INTERNET" /> 
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.vosto.customer.VostoCustomerApp"
        android:allowBackup="true"
        android:icon="@drawable/vosto_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity
            android:name="com.vosto.customer.stores.activities.StoresActivity"
            android:label="@string/title_activity_stores"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.products.activities.TaxonsActivity"
            android:label="@string/title_activity_store_menu"
            android:screenOrientation="portrait">
        </activity>
         <activity
                android:name="com.vosto.customer.stores.activities.FoodCategoriesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.cart.activities.CartActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.cart.activities.DeliveryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
           >
        </activity>
        <activity
            android:name="com.vosto.customer.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.vosto.customer.accounts.activities.EditProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.accounts.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
    	</activity>
         <activity
            android:name="com.vosto.customer.accounts.activities.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
                android:name="com.vosto.customer.favourites.activities.ProductFavouritesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.vosto.customer.favourites.activities.StoreFavouritesActivity"
                android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.vosto.customer.products.activities.ProductResultsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.orders.activities.MyOrdersActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.vosto.customer.orders.activities.OrderConfirmationActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.vosto.customer.orders.activities.PreviousOrdersActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.orders.activities.ReorderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.products.activities.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.vosto.customer.cart.activities.EditCartItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
                android:name="com.vosto.customer.pages.activities.ContactActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.vosto.customer.pages.activities.TermsActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.vosto.customer.accounts.activities.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName="com.vosto.customer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vosto.customer.MainActivity" />
        </activity>
        <activity
            android:name="com.vosto.customer.SplashActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
  			<intent-filter>
    			<action android:name="com.google.android.c2dm.intent.RECEIVE" />
    			<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
    			<category android:name="com.vosto.customer" />
  			</intent-filter>
		</receiver>
		<service android:name=".GCMIntentService" />
    </application>

</manifest>